@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with 
(
  $primary: #418354,
  $secondary: #1f213a,
  $surface: #ffffff,
  $background: #fff,
  $error: color-palette.$red-900,
);

@use './app';

html,
body 
{
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #ffffff;
}
a:visited {
  color: color.scale(#ffffff, $lightness: -35%);
}
